<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="bg-light">
                    <tr>
                        <td>1</td>
                        <td>Áo phông nam 2023</td>
                        <td><img src="./public/images/prod-1.jpg" width="100" height="100" alt="">
                        </td>
                        <td>200.000 VNĐ</td>
                        <td><input type="number" name="" min="1" max="10" id="" value="1"></td>
                        <td>300.000 VNĐ</td>
                        <td><a href="">Xóa</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Áo phông nam 2023</td>
                        <td><img src="./public/images/prod-1.jpg" width="100" height="100" alt="">
                        </td>
                        <td>200.000 VNĐ</td>
                        <td><input type="number" name="" min="1" max="10" id="" value="1"></td>
                        <td>300.000 VNĐ</td>
                        <td><a href="">Xóa</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Áo phông nam 2023</td>
                        <td><img src="./public/images/prod-1.jpg" width="100" height="100" alt="">
                        </td>
                        <td>200.000 VNĐ</td>
                        <td><input type="number" name="" min="1" max="10" id="" value="1"></td>
                        <td>300.000 VNĐ</td>
                        <td><a href="">Xóa</a></td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr class="trFoot">
                        <td colspan="7">
                            <div class="clearfix">
                                <p id="total-price" style="float: right;">Tổng giá: <span class="text-danger">500.000
                                        VNĐ</span>
                                </p>
                            </div>
                        </td>

                    </tr>

                    <tr class="trFoot">
                        <td colspan="7">
                            <div class="clearfix">
                                <div style="float: right;">
                                    <a href="" class="btn btn-primary">Thanh toán</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-2">
        <a href="" class="btn btn-primary">Mua tiếp</a>
    </div>
    <div class="col-md-12">
        <a href="" class="btn btn-danger">Xóa giỏ hàng</a>
    </div>
</div>