<div class="row">
    <div class="col-md-4">
        <div class="row mb-3">
            <div class="col-md-12">
                <img id="thum-main-detail" class="img-thumb img-fluid" src="./public/images/prod-3.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="img-thumb img-fluid thumb-item-detail" src="./public/images/prod-3.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-thumb img-fluid thumb-item-detail" src="./public/images/prod-3.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-thumb img-fluid thumb-item-detail" src="./public/images/prod-3.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="title-product border-bottom">
                    <h3>Áo phông nam 2023 sịn</h3>
                </div>
                <div class="desc-short mt-3">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
                        blanditiis a, vero omnis excepturi modi voluptas maxime atque quae
                        voluptatem.
                    </p>
                </div>

                <div class="price-detail">
                    <p class="text-danger">100.000 VNĐ</p>
                </div>

                <div class="num-select mb-3">
                    <button id="minus-btn"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                        </svg>

                    </button>
                    <input type="text" name="num-order" id="amount-input" value="1">
                    <button id="plus-btn"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </button>

                </div>

                <div class="action">
                    <a href="" class="btn btn-success">Đặt hàng</a>

                </div>

                <div class="desc-detail mt-3">
                    <h4>Mô tả sản phẩm</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officia, quo
                        sed eum, nihil quasi est eligendi iusto excepturi doloribus maiores, non
                        nisi labore sint? Illo alias pariatur incidunt temporibus harum magni
                        corporis id, repellat molestias. Dicta, error corporis neque explicabo quae
                        minus provident laboriosam aliquid possimus autem eos sed! Laudantium,
                        placeat a cum, delectus ratione sequi ab illum officiis fuga sapiente nisi
                        adipisci sed corrupti amet vero tenetur sunt aut culpa possimus voluptatum
                        dolorem esse? Quis error minima corrupti, soluta iusto delectus corporis
                        blanditiis ea libero ab aspernatur ipsam mollitia eaque reiciendis fuga.
                        Ipsa unde nostrum voluptas pariatur expedita!</p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>