<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="">
            <h3 class="text-center">ĐĂNG NHẬP TÀI KHOẢN</h3>

            <div class="form-group">
                <label for="username">Tên đăng nhập</label>
                <input type="text" class="form-control" id="username" name="username" value="">
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="text" class="form-control" id="password" name="password" value="">
            </div>

            <div class="text-center">
                <input type="submit" name="send-login" class="btn btn-outline-primary" value="Đăng nhập">
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>