<h3>Áo phông</h3>
<div class="row">

    <div class="box-prodct col-md-3 border m-2">
        <a href=""><img src="./public/images/prod-1.jpg" class="img-fluid img-thumb" alt=""></a>
        <a href="" class="prod-name">Áo phông mam 2023</a>
        <span class="prod-price">100.000 VNĐ</span>
        <p class="desc-short">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dolor...
        </p>
    </div>
    <div class="box-prodct col-md-3 border m-2">
        <a href=""><img src="./public/images/prod-2.jpg" class="img-fluid img-thumb" alt=""></a>
        <a href="" class="prod-name">Áo phông mam 2023</a>
        <span class="prod-price">100.000 VNĐ</span>
        <p class="desc-short">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dolor...
        </p>
    </div>

</div>
<h3>Mũ phớt</h3>
<div class="row">

    <div class="box-prodct col-md-3 border m-2">
        <a href=""><img src="./public/images/prod-4.jpg" class="img-fluid img-thumb" alt=""></a>
        <a href="" class="prod-name">Áo phông mam 2023</a>
        <span class="prod-price">100.000 VNĐ</span>
        <p class="desc-short">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dolor...
        </p>
    </div>
    <div class="box-prodct col-md-3 border m-2">
        <a href=""><img src="./public/images/prod-4.jpg" class="img-fluid img-thumb" alt=""></a>
        <a href="" class="prod-name">Áo phông mam 2023</a>
        <span class="prod-price">100.000 VNĐ</span>
        <p class="desc-short">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dolor...
        </p>
    </div>

</div>
<h3>Túi sách</h3>
<div class="row">

    <div class="box-prodct col-md-3 border m-2">
        <a href=""><img src="./public/images/prod-5.jpg" class="img-fluid img-thumb" alt=""></a>
        <a href="" class="prod-name">Áo phông mam 2023</a>
        <span class="prod-price">100.000 VNĐ</span>
        <p class="desc-short">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dolor...
        </p>
    </div>
    <div class="box-prodct col-md-3 border m-2">
        <a href=""><img src="./public/images/prod-5.jpg" class="img-fluid img-thumb" alt=""></a>
        <a href="" class="prod-name">Áo phông mam 2023</a>
        <span class="prod-price">100.000 VNĐ</span>
        <p class="desc-short">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dolor...
        </p>
    </div>

</div>