<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="">
            <h3 class="text-center">ĐĂNG KÝ TÀI KHOẢN</h3>

            <div class="form-group">
                <label for="username">Tên đăng nhập mới</label>
                <input type="text" class="form-control" placeholder="Nhập tên đăng nhập" id="username" name="username"
                    value="">
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu mới</label>
                <input type="text" class="form-control" placeholder="Nhập mật khẩu" id="password" name="password"
                    value="">
            </div>
            <div class="form-group">
                <label for="email">Email mới</label>
                <input type="text" class="form-control" placeholder="Nhập mật khẩu" id="email" name="email" value="">
            </div>

            <div class="text-center">
                <input type="submit" name="send-signin" class="btn btn-outline-primary" value="Đăng ký">
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>